# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Node
pwa/node_modules/
pwa/dist/
pwa/node_modules/.vite/
pwa/.vite/

# Local DB / dumps
*.db
*.sqlite
*.sqlite3
checklists_last3.json
checklists_last3.txt

# Certificados locais (mkcert)
pwa/*.pem

# Env
.env
.env.*
pwa/.env
pwa/.env.*


# Env
.env
.env.*
pwa/.env
pwa/.env.*

platform-tools/